<div class="container" style="padding-bottom: 50px;">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-16">

            <!-- Title -->
            <h1 class="mt-4">{{ history.title }}</h1>

            <hr>

            <!-- Date/Time -->
            <p>Posteado el {{ history.datePost }}</p>

            <div [innerHTML]="history.body"></div>
            <button *ngIf="withComments"class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" role="button"  aria-controls="comments">
                Ver Comentarios
            </button>
            <div class="collapse spacer" id="comments" [collapse]="isCollapsed">
            <app-comment *ngIf="withComments" ></app-comment>
            <div>
        </div>
    </div>

</div>
