<div class="container">
    <h1>Crea tu Historia Anonima</h1>
        <form (ngSubmit)="onSubmit()" #blogForm="ngForm">
            <label for="blogTitle">Titulo de la Historia:</label>
            <input type="text" class="form-control" id="title"
               [(ngModel)]="blog.title" name="title"
               #title="ngModel">
            <quill class="textEditor" (valueChange)="onValueChange($event)" ></quill>
            <button type="button" class="btn btn-primary" (click)="addBlog()" >Guardar Historia</button>
        </form>
    
</div>
