<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Apoya Comentando:</h5>
    <div class="card-body">
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar a Revision</button>
    </div>
</div>

<!-- Single Comment -->
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <h5 class="mt-0">Anonimo</h5>
        Tienes que afrontar tu miedos, esto es solo una etapa de tu vida vivela al maximo y sin preocuparte por nada
    </div>
</div>